
.top {
    max-width: 1070px;
    margin: 0 auto;
    object-fit: cover;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header {
    height: 70px;
    background-color: rgb(243, 243, 179);
    width: 100%;
    z-index: 99;
    position: relative

}

header h1 {
    font-size: 60px;
}

.logo {
    width: 5%;
    float: left;
    line-height: 50px; text-decoration: none;
    font-size: 40px;
    font-family: cursive;
    color: #000;
    letter-spacing: 5px;
}

nav {
    float: right;
    line-height: 75px;
}

nav a {
    text-decoration: none;
    font-family: cursive;
    font-size: 20px;
    margin: 0 10px;
    color: rgb(14, 14, 14)
}

body {
    background-color:rgb(243, 243, 179);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    border: 0px;
    text-align: center;
    padding: 5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color:beige;
}

.box {
    max-width: 960px;
    margin: 0 auto;
    border: 1px;
    text-align: start;
    padding: 1rem;
    ;
}

img {
    max-width: 100%;
    width: 500;
    object-fit: cover;
}

h1 {
    font-size: clamp(32px, 2.5vw, 40px);
    font-family: cursive;
    text-align: center;
    color: rgb(43, 40, 52);
}

dt {
    font-size: clamp(12px, 2.5vw, 18px);
    font-family: cursive;
    text-align: start;
    color: black;
}

footer {
    text-align: center;
    color: rgb(16, 31, 45);
    padding: 30px;
}